{% extends "layouts/base.html" %} {% block title %} Manage Student Forms {%
endblock %} {% block content %}
<div>
  <!-- Page Heading -->
  <div class="page-heading mb-4">
    {% for message in get_flashed_messages()%}
    <div class="alert alert-primary alert-dismissible fade show" role="alert">
      {{ message }}
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
    {% endfor %}
    <h2>Manage Student Forms</h2>
  </div>
  <!-- Page Content -->

  {% if not students_list_arr %}
  <span class="message-sm-warning">All forms are completed</span>
  {% else %}
  <div class="row">
    <div class="col-md-12 mb-4">
      <div class="card">
        <h5 class="card-header">List of Students</h5>
        <div class="card-body">
          <table class="table" id="myTable">
            <thead>
              <tr>
                <th>Student ID</th>
                <th>Student Name</th>
                <th>Department</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                {% for result in students_list_arr %}
                <td>{{result[1]}}</td>
                <td>{{result[2]}} {{result[3]}}</td>
                {% if result[4] == None %}
                <td>No Form</td>
                {% else %}
                <td>{{result[8]}}</td>
                <td>
                  <a
                    href="/form/section_f?form_id={{result[4]}}&student_id={{result[0]}}"
                    class="btn btn-sm btn-outline-primary mt-1"
                  >
                    Provide feedback
                  </a>
                </td>
                {% endif %}
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
</div>
{% endblock %} {% block script %}
<script>
  $(document).ready(function () {
    $("#myTable").DataTable({
      columnDefs: [{ targets: 3, orderable: false }],
    });
  });
</script>

{% endblock %}
