{% extends "layouts/base.html" %} {% block title %} Students {% endblock %} {%
    block content %}
    <div>
      <!-- Page Content -->
      {% if not student_list %}
      <span class="message-sm-warning">No results</span>
      {% else %}
      <div class="card">
        <div class="card-header">Current Forms</div>
        <div class="card-body">
          <table class="table" id="myTable">
            <thead>
              <tr>
                <th>Student ID</th>
                <th>Department</th>
                <th>Name</th>
                <th>Email</th>
                <th>Current 6MR Form</th>
              </tr>
            </thead>
            <tbody>
              {% for student in student_list %}
              {% if student.current_form_id %}
              <tr>
                <td>{{ student.student_id }}</td>
                <td>{{ student.department_name }}</td>
                <td>
                  {{ student.student_first_name }} {{ student.student_last_name }}
                </td>
                <td>{{ student.email }}</td>
                <td>
                                   
                    <a
                      href="/form/section_a?form_id={{ student.current_form_id }}&student_id={{ student.student_id }}"
                      class="btn btn-sm btn-outline-primary"
                      >View 6MR</a
                    >
                  
                </td>    
              </tr>    
        </div>
              
              {% endif %}
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      {% endif %}
    </div>
    {% endblock %}{% block script %}
    <script>
      $(document).ready(function () {
        $("#myTable").DataTable({
          columnDefs: [{ targets: [4], orderable: false }],
        });
      });
    </script>
    {% endblock %}
    